// ====================================================================
// 
//	COLOURS
//	_colours.scss
//	Author:	Helen Liu
// 
// ====================================================================


// --------------------------------------------------------------------
//	COLOURS
// --------------------------------------------------------------------

$pink:							#F64082 !default;
$teal:							#2CCCDF !default;
$purple:						#9070CB !default;
$blue: 							#4B81CE !default;
$red:								#ED5265 !default;
$green:							#67C17F !default;
$yellow:						#FFCB4D !default;
$light-grey:				#F1F6F8 !default;
$medium-grey:				#586C76 !default;
$dark-grey:					#323F46 !default;

$black:							#000 !default;
$white:							#fff !default;


// --------------------------------------------------------------------
//	PURPOSES
// --------------------------------------------------------------------

$colour-primary: 		$pink;
$colour-secondary:	$teal;
$colour-info: 			$blue;
$colour-success: 		$green;
$colour-warning: 		$yellow;
$colour-error: 			$red;

