// ====================================================================
// 
//	GRID
//	The new CSS grid.
//
//	FIle name:	_grid.scss
//	Author:			Helen Liu
// 
// ====================================================================
html,
body {
	height: 100%;
}

body {
	height: 100%;
}

.xy {
	display: -ms-grid;
	display: grid;
}

.home {
	grid-template-columns: 1fr 3fr;
	height: 100%;
}