// ====================================================================
// 
//	GLOBAL VARIABLES
//	_global-variables.scss
//	Author:	Helen Liu
// 
// ====================================================================


// --------------------------------------------------------------------
//	TYPOGRAPHY
// --------------------------------------------------------------------

$default-heading-colour:	$dark-grey;
$default-text-colour: 		$medium-grey;

// --------------------------------------------------------------------
//	BORDERS
// --------------------------------------------------------------------

$border-default: 1px solid smart-scale($light-grey, 10%);


// --------------------------------------------------------------------
//	SPACINGS
// --------------------------------------------------------------------

$space-xs: 	rem-calc(4);
$space-s:		rem-calc(8);
$space-m:		rem-calc(16);
$space-l:		rem-calc(24);
$space-xl:	rem-calc(48);
$space-xxl:	rem-calc(72);