<div class="skip-to-content">
  <p><a href="#skip-to-content">Skip to content</a></p>
</div>
<header class="header--global" role="banner">
	<div class="site--branding">
		<span class="site--avatar"><img srcset="/assets/img/helen-liu-avatar-icon-2x.png 2x" src="/assets/img/helen-liu-avatar-icon.png" alt="" width="36" height="36" /></span>
		<span class="site--title"><a href="http://helenliu.me">Helen Liu</a></span>
	</div>
	<!-- <div class="form--search">
		<form method="post" id="search">
	    <input type="search" name="search-term" class="form--search--field" value="">
	    <button type="submit" class="form--search--button"><span class="icon fa fa-search" aria-hidden="true"></span><span class="label--button">Search</span></button>
		</form>
	</div> -->
</header>
<!-- @@include('includes/navigation-global-blog.html') -->